:root {

  --bg: #fff;
  --fg: #121212;

  --headline-fg: #936;

  --link-fg: #13c;
  --link-hover-bg: #f0f0ff;
  --link-hover-fg: #24d;

  --header-bg: #222;
  --header-fg: #fff;

  --footer-bg: #232323;
  --footer-fg: #fff;

  --code-fg: #070;
  --code-bg: #f0f0f0;

  --card-brd: #ccc;
  --card-bg: #f0f0f0;
  --card-fg: #121212;
  --card-headline: #121212;
  --outline-color: #336;

  --button-bg: #993366;
  --button-fg: #ffffff;

  --button-hover-bg: #aa4477;
  --button-hover-fg: #ffffff;

  --button-active-bg: #444455;
  --button-active-fg: #ffffff;
}


