.auto-grid {
  --min: 30ch;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap, 1rem);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--min)), 1fr));
}

.full-bleed {
  grid-column: -1 / 1;
}