.side-nav {
  display: none;
  padding: 1rem;
  font-size: var(--step--1);
}

@media screen and (min-width: 768px) {
  .side-nav-layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr) 250px;
  }

  .side-nav-layout > article {
    grid-column: 1 / 4;
  }

  .side-nav-layout > nav {
    grid-column: 4 / 5;
  }

  .side-nav {
    display: block;
  }
}

.side-nav__list {
  list-style: none;
  padding: 0;
}

.side-nav__link {
  color: var(--fg);
  text-decoration: none;
}

.side-nav__link[aria-current="page"] {
  font-weight: bold;
}

.side-nav__link:hover {
  color: var(--link-hover-fg);
  background: var(--link-hover-bg);
}


