---
title: Overview
layout: layouts/base.njk
description: Novatec React workshop, covering the basics of building web applications with React.
eleventyExcludeFromCollections: true
---

<h1>{{ meta.siteName }} - Overview</h1>
{% set cardCollection = collections.sortedEnglish %}

{% include "partials/cards.njk" %}
