<nav class="breadcrumb | full-bleed">
  <ul>
    {% set homeLink = nav[meta.lang].header[0] %}
    <li><a href="{{ meta.site.url }}{{ homeLink.href }}">{{ homeLink.title }}</a></li>
    {% if level and levels[meta.lang][level] %}
    <li><a href="{{ meta.site.url }}{{ homeLink.href }}#{{ level }}">{{ levels[meta.lang][level].title }}</a></li>
    {% endif %}
    {% if page.url != "/" %}
    <li><a href="{{ meta.site.url }}{{ page.url }}">{{ title }}</a></li>
    {% endif %}
  <ul>
</nav>