{% set learnMore = "learn more" %}
{% if meta.lang == 'de' %}
  {% set learnMore = "mehr dazu" %}
{% endif %}

{% for level in levels.levels %}
  <h2 id="{{ level }}">{{ levels[meta.lang][level].title }}</h2>
  <p>{{ levels[meta.lang][level].description }}</p>
  <ul class="list-none auto-grid my-4">
  {% for item in cardCollection %}
    {% if item.data.level == level %}
    <li>
      <article class="card">
        <header class="card__header">
          <h3>{{ item.data.title }}</h3>
          {% if item.data.level %}
            <div class="chip">{{ item.data.level.replace('-', ' ') }}</div>
          {% endif %}
        </header>
        <p>{{ item.data.description }}</p>
        <div class="card__bottom">
          <a class="button" href="{{ meta.url }}{{ item.url }}">{{ learnMore }} &raquo</a>
        </div>
      </article>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}