<title>{{ title }} - {{ meta.siteName }}</title>

<meta name="description" content="{{ description }}" />
<meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<!-- Twitter Summary card images must be at least 120x120px -->
<!-- meta name="twitter:image" content="http://www.example.com/image.jpg" -->

<!-- Open Graph data -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.url }}" />
<!-- meta property="og:image" content="http://example.com/image.jpg" / -->
<meta property="og:description" content="{{ description }}" />
